* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: gainsboro;
}

.right {
    margin-left: auto;
}

.color {
    background: greenyellow;
}

*::-webkit-scrollbar {
    display: none;
}